body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px;
  */
  min-height: 100vh;
  background-color: rgb(31, 31, 31);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.app {
  position: relative;
  display: flex;
  width: 864px;
  height: 576px;
  justify-content: center;
  align-items: end;
}
canvas {
  image-rendering: pixelated;
  position: absolute;
}

.dialogue {
  position: relative;
  bottom: 1em;
  padding: 0.75em;
  font-family: "Courier New", Courier, monospace;
  color: aliceblue;
  z-index: 2;
  width: 420px;
  height: 175px;
  background-color: darkslategray;
  border: 2px solid black;
}

.revealed {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
